# Access token signing keypair
JWT_PRIVATE_KEY=-----BEGIN EC PRIVATE KEY-----\n<EC keypair private key>\n-----END EC PRIVATE KEY-----\n
JWT_PUBLIC_KEY=-----BEGIN PUBLIC KEY-----\n<EC keypair public key>\n-----END PUBLIC KEY-----\n

##### Firebase #####
# Firebase project id
NEXT_PUBLIC_FIREBASE_PROJECT_ID=<firebase-project-ID>
# Firebase service account credentials
FIREBASE_CLIENT_EMAIL=<firebase service account email>@invalid.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY=-----BEGIN PRIVATE KEY-----\n<firebase service account private key>\n-----END PRIVATE KEY-----\n

##### MDS vars #####
# URL to download MDS file
MDS_URL=https://mds3.fidoalliance.org/
# MDS cert CN must match this value
MDS_HOST=mds.fidoalliance.org
# URL to download root cert to verify MDS cert chain
MDS_ROOT_CERT_URL=https://secure.globalsign.net/cacert/Root-R3.crt
# Authenticator whitelist flag - set to false to disable whitelist i.e. allow all authenticators in MDS
MDS_AUTH_WHITELIST=true
# Write MDS json file to this location, if specified
# MDS_JSON_FILEPATH=<file-path>

##### WebAuthn Configuration #####
WEBAUTHN_UV_REQUIRED=true # Set this to true to require user verification